* {
	font-family: Arial;
}

#gamemode-buttons, #game-wrapper {

-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}

#game-wrapper img, #gamemode-buttons img{
	pointer-events: none;
}

#game-wrapper div.disabled {
	pointer-events: none;
}

#gamemode-buttons div {
	border: 2px solid #D0D0D0;
	display: inline-block;

background:#ffffff; /* Old browsers */
background:-moz-linear-gradient(top,#ffffff 0%,#cccccc 100%); /* FF3.6+ */
background:-webkit-gradient(linear, left top, left bottom,color-stop(0%,#ffffff),color-stop(100%,#cccccc)); /* Chrome,Safari4+ */
background:-webkit-linear-gradient(top,#ffffff 0%,#cccccc 100%); /* Chrome10+,Safari5.1+ */
background:-o-linear-gradient(top,#ffffff 0%,#cccccc 100%); /* Opera 11.10+ */
background:-ms-linear-gradient(top,#ffffff 0%,#cccccc 100%); /* IE10+ */
background:linear-gradient(to bottom,#ffffff 0%,#cccccc 100%); /* W3C */
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#cccccc',GradientType=0); /* IE6-9 */
}

#gamemode-buttons div:hover {
background:#f2f2f2; /* Old browsers */
background:-moz-linear-gradient(top,#f2f2f2 0%,#ffffff 100%); /* FF3.6+ */
background:-webkit-gradient(linear,left top, left bottom,color-stop(0%,#f2f2f2),color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
background:-webkit-linear-gradient(top,#f2f2f2 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
background:-o-linear-gradient(top,#f2f2f2 0%,#ffffff 100%); /* Opera 11.10+ */
background:-ms-linear-gradient(top,#f2f2f2 0%,#ffffff 100%); /* IE10+ */
background:linear-gradient(to bottom,#f2f2f2 0%,#ffffff 100%); /* W3C */
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2f2f2',endColorstr='#ffffff',GradientType=0); /* IE6-9 */
}

#status {
	height: 1em;
	padding: 0px 0px 10px 0px;
	
	line-height: 1em;
	font-size: 1.5em;
}

#game-wrapper {
	box-shadow: 0px 0px 20px #CCC;
}

#game-wrapper div {
	display: inline-block;
	cursor: pointer;

}

#info-box {
	position: fixed;
	
	padding: 10px;

	background-color: #fff;
	box-shadow: 0px 0px 20px #CCC;

	top: 20px;
	right: 20px;

	font-size: 1em;
	font-family: Times !important;
}